/**
 * Base
 * Shared/default styles
 * 
 * /scss/modules/_base.scss
 */
* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-size: $defaultFontSize;
    line-height: $defaultLineHeight;
    height: 100%;
}

body {
    font-family: $defaultFontStack;
    color: $defaultTextColor;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $defaultBackgroundColor url(/images/bg.png) 0 0 repeat;
}

main {
    flex: 1 0 auto;
    position: relative;
    z-index: 2;
}