/**
 * Fonts
 * Non system fonts used on the site
 * 
 * /scss/modules/_fonts.scss
 */
 @font-face {
    font-family: 'Beradon Script';
    src: url('/fonts/Beradon-Script.woff') format('woff');
}

@font-face {
    font-family: 'Beradon Frames';
    src: url('/fonts/Beradon-Frames.woff') format('woff');
}

@font-face {
    font-family: 'Material Icons';
    src: url('/fonts/materialicons-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/Roboto-Condensed-Regular.woff') format('woff');
}


