
.frames {
    font-family: 'Beradon Frames';
    text-align: center;
    padding-top: 32px;

    &.frames--large {
        $y: 2;
        $size: 8;
        font-size: #{$size}rem;
        line-height: #{$y}rem;
        color: $orange;
    }   
    
}