/**
 * Normilse
 * Default styling, for a level playing field across browsers
 * 
 * /scss/modules/_normalise.scss
 */
 html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

section
article,
main
aside,
footer,
header,
main,
nav,
section {
    display: block;
}

video {
    display: inline-block;
}

a:focus {
    outline-color: $orange;
}