/**
 * Skip Link
 * A11y skip link
 * 
 * /scss/modules/_skip-link.scss
 */
 .skip-link {
    position: absolute;
    left: -9999px;
    top: 0;
    background-color: $orange;
    padding: 16px;
    color: #fff;
    font-size: 1rem;
    line-height: 1.6rem;
    border-radius: 4px;
    z-index: 10;
}
  
.skip-link:focus {
    left: 0;
    color: #fff;
    outline-color: $darkBlue;
}