/**
 * Video
 * Looks after the video on the homepage
 * 
 * /scss/modules/_video.scss
 */
 .video-wrapper {
    width: 100%;
    height: 100vh;
    height: calc(var(--viewHeight, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: fixed;
    margin-top: 208px;
    left: 0;
    transition: 0.5s;
    z-index: 1;

    video {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
}
